.video {
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

@media (max-width: 900px) {
    .video {
        width: 500px;
        height: 300px;
    }
}

@media (max-width: 600px) {
    .video {
        width: 430px;
        height: 250px;
    }
}

@media (max-width: 470px) {
    .video {
        width: 390px;
        height: 250px;
    }
}

@media (max-width: 430px) {
    .video {
        width: 350px;
        height: 230px;
    }
}

@media (max-width: 390px) {
    .video {
        width: 330px;
        height: 200px;
    }
}

@media (max-width: 370px) {
    .video {
        width: 300px;
        height: 190px;
        padding-bottom: 0;
    }
}

@media (max-width: 330px) {
    .video {
        width: 290px;
        height: 180px;
    }
}