@use "../../../../../../assets/style/_variables" as *;

.dates {
  padding-bottom: 200px;

  &__scrollHint {
    display: none;
    font-size: 14px;
    color: #999;
    text-align: center;
    margin-bottom: 8px;

    @media (max-width: 767px) {
      display: block;
      margin-top: 50px;
    }
    @media (max-width: 450px) {
      margin-top: 20px;
    }
  }

  &__inner {
    margin-top: 50px;

    @media (max-width: 767px) {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      gap: 16px;
      padding: 10px 16px 20px;
      margin-left: -16px;
      margin-right: -16px;
      position: relative;

      scrollbar-width: thin;
      scrollbar-color: $orange transparent;

      &::-webkit-scrollbar {
        height: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $orange;
      }
    }
    @media (max-width: 450px) {
      margin-top: 20px;
    }
  }

  &__group {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: #e3e3e3 1px solid;

    &:first-child {
      border-top: #e3e3e3 1px solid;
    }

    @media (max-width: 767px) {
      min-width: 260px;
      border: 1px solid #e3e3e3;
      border-radius: 20px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
      scroll-snap-align: start;
      flex-shrink: 0;
    }
    @media (max-width: 360px) {
      min-width: fit-content;
    }
  }

  &__month {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #000;

    @media (max-width: 767px) {
      font-size: 24px;
    }
  }

  &__list {
    text-align: center;
  }

  &__item {
    font-size: 18px;
    color: #2d2d2d;
    line-height: 1.6;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  @media (max-width: 680px) {
    .title {
      font-size: 3.6rem;
    }
  }

  @media (max-width: 610px) {
    .title {
      font-size: 3.4rem;
    }
  }

  @media (max-width: 570px) {
    .title {
      font-size: 3.2rem;
    }
  }

  @media (max-width: 550px) {
    .title {
      font-size: 3rem;
      line-height: 3rem;
    }
  }

  @media (max-width: 540px) {
    .title {
      font-size: 2.6rem;
      line-height: 2.6rem;
    }
  }

  @media (max-width: 450px) {
    .title {
      font-size: 2.2rem;
      line-height: 2.2rem;
    }
  }

  @media (max-width: 390px) {
    .title {
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  @media (max-width: 355px) {
    .title {
      font-size: 1.8rem;
      line-height: 1.8rem;
    }
  }
}
