@use "../../../../../assets/style/_variables" as *;

.testimonials {
  padding: 255px 0;
  text-align: center;

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-top: 100px;
    @media (max-width: 860px) {
      gap: 70px;
    }
    @media (max-width: 640px) {
      padding-top: 70px;
    }
    @media (max-width: 430px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    padding: 80px 24px 32px;
    width: 100%;
    max-width: 340px;
    min-height: 200px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    @media (max-width: 620px) {
      min-height: 120px;
    }
    @media (max-width: 430px) {
      max-width: fit-content;
    }
    @media (max-width: 415px) {
      padding: 60px 24px 32px;
    }
    @media (max-width: 380px) {
      padding: 50px 24px 32px;
    }
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 60px rgba(0, 0, 0, 0.2);
    }

    .avatar {
      position: absolute;
      top: -36px;
      left: 50%;
      transform: translateX(-50%);
      width: 72px;
      height: 72px;
      border-radius: 50%;
      overflow: hidden;
      border: 3px solid #fff;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @media (max-width: 580px) {
        width: 70px;
        height: 70px;
      }
      @media (max-width: 460px) {
        width: 65px;
        height: 65px;
      }
      @media (max-width: 415px) {
        width: 60px;
        height: 60px;
      }
      @media (max-width: 380px) {
        width: 55px;
        height: 55px;
      }
    }

    .text {
      font-style: italic;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 24px;
      color: #333;
      text-align: center;
      @media (max-width: 660px) {
        font-size: 16px;
      }
      @media (max-width: 380px) {
        font-size: 14px;
        line-height: normal;
      }
    }

    .author {
      color: #444;
      font-family: var(--gilroy-medium), sans-serif;

      strong {
        font-size: 18px;
        display: block;
        font-weight: 600;
        color: #111;
        @media (max-width: 380px) {
          font-size: 16px;
        }
      }

      a {
        font-size: 15px;
        color: #eda84f;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  @media (max-width: 790px) {
    .title {
      font-size: 3.4rem;
    }
  }
  @media (max-width: 660px) {
    .title {
      font-size: 3rem;
    }
  }
  @media (max-width: 600px) {
    .title {
      font-size: 2.8rem;
    }
  }
  @media (max-width: 560px) {
    .title {
      font-size: 2.6rem;
      line-height: 3rem;
    }
  }
  @media (max-width: 525px) {
    .title {
      font-size: 2.3rem;
      line-height: 2.4rem;
    }
  }
  @media (max-width: 460px) {
    .title {
      font-size: 2.1rem;
      line-height: 2.2rem;
    }
  }
  @media (max-width: 415px) {
    .title {
      font-size: 1.9rem;
      line-height: 2rem;
    }
  }
  @media (max-width: 380px) {
    .title {
      font-size: 1.6rem;
      line-height: 1.8rem;
    }
  }
}
